html, body {
    font-family: Manrope, sans-serif;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

.logo{

}

/* ---------------------------------------------------------------------- */

.header {
}
.header__top {
}
.header__top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
}
.header__nav {
    margin-left: auto;
}
.header__nav-list {
    display: flex;
}
.header__nav-item {
    margin-right: 40px;
}
.header__nav-item:last-child{
    margin-right: 32px;
}
.header__nav-link {
    font-weight: 600;
    line-height: 28px;
    color: #1E1B1B;
}
.header__nav-link:hover {
    color: #f18989;
    transition: .7s;
}
.header__call {
    position: relative;
    margin-top: 18px;
    margin-bottom: 16px;
    padding-left: 54px;
}
.header__call::before {
    content: "";
    display: block;
    background: url(../images/icons/call-icon.svg) no-repeat;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    
}
.header__line {
    position: relative;
    padding-top: 24px;
    padding-left: 32px;
    padding-bottom: 24px;
}
.header__line-line {
    width: 1px;
    height: 42px;
    background: #939191;
    position: absolute;
    top: 0;
    left: 0;
}
.header__call-text {
    font-weight: 500;
    line-height: 24px;
    color: #1E1B1B;
}
.header__call-number {
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    color: #1E1B1B;
}
/* ------------------------------------------------- */
.header__body {
}
.header__body-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__content {
    margin-right: 21.13px; 
}
.header__body-title {
    font-weight: 800;
    line-height: 84.532px;
    font-size: 64.405px;
    max-width: 630px;
    color: #1E1B1B;
    
}
.header__btn {
    display: inline-flex;
    margin-top: 31.8px;

}
.header__btn-button {
    padding: 16.101px 40.253px;
    margin-bottom: 48.51px;
    align-items: flex-start;
    border-radius: 12.076px;
    background: #FF6433;
    color: #ffff;
    font-size: 18.114px;
    font-weight: 600;
    line-height: 175%; 
}
.header__btn-button:hover{
    transform: scale(1.06);
    transition: 0.4s;
    
}
.header__btn-play {
    display: inline-flex;
    align-items: center;
    font-family: Roboto;
    font-weight: 500;
    color: #1E1B1B;
    padding-left: 31.49px;
    margin-bottom: 48.51px;
}
.header__btn-play svg {
    margin-right: 8px;
    
}
.header__open {
    color: #1E1B1B;
    position: relative;
    top: 0;
    left: 0;
    
}
.header__open::before {
    content: "";
    display: block;
    background: url(../images/icons/clock.svg) no-repeat;
    margin-right: 13.13px;
    width: 31.133px;
    height: 31.133px;
    flex-shrink: 0; 
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.header__open-work {
    font-size: 16.101px;
    font-weight: 500;
    line-height: 24.152px;
    color: #939191;
    margin-left: 44.263px;
    
}
.header__open-time{
    font-size: 18.114px;
    font-weight: 600;
    line-height: 175%;
    margin-left: 44.263px;
}

.header__img {
    margin-top: 76px;
}
.header__img-main {
    

}
