html, body {
    font-family: Manrope, sans-serif;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    height: 100%;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0000006f;
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}
.overlay--show {
    visibility: visible;
    opacity: 1;
}
.burger {
    display: none;
}
.main__offer {
    padding-bottom: 128px;
}
.main__process {

}
.logo{
}
.main__questions {
}
.main__info {
    
}
/* ---------------------------------------------------------------------- */

.header {
    height: 937px;
    display: flex;
    flex-direction: column;
}
.header__top {
}
.header__top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
}
.header__nav {
    margin-left: auto;
}
.header__nav-list {
    display: flex;
}
.header__nav-item {
    margin-right: 40px;
}
.header__nav-item:last-child{
    margin-right: 32px;
}
.header__nav-link {
    font-weight: 600;
    line-height: 28px;
    color: #1E1B1B;
}
.header__nav-link:hover {
    color: #f18989;
    transition: .7s;
}
.header__call {
    position: relative;
    margin-top: 18px;
    margin-bottom: 16px;
    padding-left: 54px;
}
.header__call::before {
    content: "";
    display: block;
    background: url(../images/icons/call-icon.svg) no-repeat;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    
}
.header__line {
    position: relative;
    padding-top: 24px;
    padding-left: 32px;
    padding-bottom: 24px;
}
.header__line-line {
    width: 1px;
    height: 42px;
    background: #939191;
    position: absolute;
    top: 0;
    left: 0;
}
.header__call-text {
    font-weight: 500;
    line-height: 24px;
    color: #1E1B1B;
}
.header__call-number {
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    color: #1E1B1B;
}
/* ------------------------------------------------- */
.header__body {
    flex: 1 1 auto;
}
.header__body-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
}
.header__content {
    margin-right: 51px;
}
.header__body-title {
    font-weight: 800;
    line-height: 84.532px;
    font-size: 64.405px;
    max-width: 630px;
    color: #1E1B1B;
}
.header__btn {
    display: inline-flex;
    margin-top: 31.8px;
}
.header__btn-button {
    padding: 16.101px 40.253px;
    margin-bottom: 48.51px;
    align-items: flex-start;
    border-radius: 12.076px;
    background: #FF6433;
    color: #ffff;
    font-size: 18.114px;
    font-weight: 600;
    line-height: 175%; 
}
.header__btn-button:hover{
    transform: scale(1.06);
    transition: 0.4s;
}
.header__btn-play {
    display: inline-flex;
    align-items: center;
    font-family: Roboto;
    font-weight: 500;
    color: #1E1B1B;
    padding-left: 31.49px;
    margin-bottom: 48.51px;
}
.header__btn-play svg {
    margin-right: 8px;
}
.header__btn-play:hover {
    transform: scale(1.06);
    transition: 0.6s;
}
.header__open {
    color: #1E1B1B;
    position: relative;
    top: 0;
    left: 0;
}
.header__open::before {
    content: "";
    display: block;
    background: url(../images/icons/clock.svg) no-repeat;
    margin-right: 13.13px;
    width: 31.133px;
    height: 31.133px;
    flex-shrink: 0; 
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.header__open-work {
    font-size: 16.101px;
    font-weight: 500;
    line-height: 24.152px;
    color: #939191;
    margin-left: 44.263px;
    
}
.header__open-time{
    font-size: 18.114px;
    font-weight: 600;
    line-height: 175%;
    margin-left: 44.263px;
}
.header__img {
    margin-top: 76px;
    width: 655px;
    height: 632px;
    position: relative;
    top: 0;
    left: 0;
}
.header__img-main {
    position: absolute;
    top: 0;
    left: 30px;
}
.header__service {
    width: auto;
    max-height: 102px;
    padding: 24px 0;
    display: flex;
    align-items: center;
    background-color: #FFF;
    border-radius: 59px;
    box-shadow: 0 0 0px 13px #dddbdb5a;
    position: absolute;
    top: 75px;
    left: -5px;
}
.header__service-content::before {
    content: "";
    display: block;
    width: 70.1px;
    height: 70.4px;
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
}
.service__icon {
    margin-left: 15px;
}
.header__service-content {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.725px;
    margin-right: 25px;
    margin-left: 25px;
}


.header__rating {
    width: auto;
    max-height: 102px;
    padding: 24px 0;
    display: flex;
    align-items: center;
    background-color: #FFF;
    border-radius: 59px;
    box-shadow: 0 0 0px 13px #dddbdb5a;
    position: absolute;
    top: 480px;
    left: 360px;
    
    
}
.header__rating-inner {
    margin-left: 15px;
    margin-right: 5px;
}
.header__rating-number {
    color: #000;
    font-size: 24.152px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.725px;
}
.header__rating-text {
    color: #6f6d6d;
    font-size: 16.101px;
    font-weight: 500;
    line-height: 24.152px;
}
.rateYo {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
/* ---------------------------------------------------------- */
.offer {
    color: #1E1B1B;
    height: auto;
    background: #F2F2F2;
    height: 100%;
    width: 100%;
}
.offer__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 128px;
    padding-bottom: 64px;
    height: 100%;
    width: 100%;
}
.offer__text-subtitle {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.72px;
}
.offer__text-title {
    text-align: center;
    max-width: 860px;
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -1.74px;
}
.offer__repair {
    display: grid;
    grid-template: 1fr 1fr / repeat(4, 1fr);
    grid-gap: 17px;
    height: auto;
    
}
.repair__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #ffff;
    height: 232px;
    transform: scale(1.02);
    transition: 0.9s;
}

.repair__icon {
    margin-bottom: 12px;
}
.repair__icon svg path{
    fill: #1E1B1B;
}
.repair__item:hover {
    background-color: #FF6433;
    color: #fff;
}
.repair__item:hover svg path{
    fill: #fff;
}

.repair__icon:nth-child(2) {
    margin-bottom: 19px;
}
.repair__icon:nth-child(4) {
    margin-bottom: 14px;
}
.repair__icon:nth-child(5) {
    margin-bottom: 16.6px;
}
.repair__icon:nth-child(6) {
    margin-bottom: 16.7px;
}
.about-servise {
    margin-top: 32px;
    margin-left: 1065px;
}
.about-servise:hover {
    transform: scale(1.06);
    transition: 0.9s;
}
/* ------------------------------------------------------------ */


.process {
}
.process__inner {
    display: flex;
    font-style: normal;
    color: #1E1B1B;
    margin-bottom: 134px;
}
.process__content {
    margin-right: 131px;
}
.process__title {
    margin-top: 134px;
    font-size: 58px;
    font-style: normal;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -1.74px;
    max-width: 525px;
}
.process__text {
    margin-top: 16px;
    font-weight: 600;
    line-height: 28px;
    opacity: 0.60;
    max-width: 440px;
    margin-bottom: 32px;
}
.process__btn-button {
    padding: 16px 40px;
    align-items: flex-start;
    border-radius: 12.076px;
    background: #FF6433;
    color: #ffff;
    font-size: 18.114px;
    font-weight: 600;
    line-height: 175%;
}
.process__btn-button:hover {
    transform: scale(1.06);
    transition: 0.4s;
}

.process__steps {
    margin-top: 134px;
    margin-left: 203px;
    width: 432px;
    height: 527px;
}
.steps__1 {
    margin-right: 100px;
    position: relative;
    top: 0;
    left: 0;
}
.steps__title-1::before {
    content: "";
    display: block;
    background: url(../images/icons/Circle1.svg);
    width: 72px;
    height: 72px;
    position: absolute;
    top: -15px;
    left: -93px;
}
.steps__2 {
    margin-right: 100px;
    position: relative;
    top: 0;
    left: 0;
}
.steps__title-2::before {
    content: "";
    display: block;
    background: url(../images/icons/Circle2.svg);
    width: 72px;
    height: 72px;
    position: absolute;
    top: -15px;
    left: -93px;
}
.steps__3 {
    margin-right: 100px;
    position: relative;
    top: 0;
    left: 0;
}
.steps__title-3::before {
    content: "";
    display: block;
    background: url(../images/icons/Circle3.svg);
    width: 72px;
    height: 72px;
    position: absolute;
    top: -15px;
    left: -93px;
}
.steps__title {
    position: relative;
    top: 0;
    left: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.96px;
    margin-bottom: 8px;
}
.steps__title::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    opacity: .3;
    position: absolute;
    top: 35px;
    right: 364px;
}
.steps__text {
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    opacity: 0.60;
    max-width: 340px;
    margin-bottom: 29px;
}
.steps__text-1 {
    position: relative;
    top: 0;
    left: 0;
}
.steps__text-1::before {
    content: "";
    display: block;
    background: url(../images/icons/Line.svg);
    width: 2px;
    height: 71px;
    position: absolute;
    top: 53%;
    left: -55px;
    transform: translateY(-40%);
}
.steps__text-2 {
    position: relative;
    top: 0;
    left: 0;
}
.steps__text-2::before {
    content: "";
    display: block;
    background: url(../images/icons/Line.svg);
    width: 2px;
    height: 71px;
    position: absolute;
    top: 53%;
    left: -55px;
    transform: translateY(-40%);
}
/* =================================================================== */
/* =================================================================== */
.contact {
    background: url(../images/car.jpg) top left no-repeat, 
    url(../images/machine-engine.jpg) 100% 100% / 1200px 600px no-repeat;
}
.contact-us {
    background-color: #FF6433;
    width: 729px;
    height: 502px;
    padding-top: 128px;
    padding-left: 80px;
    padding-right: 80px;
}
.contact-us__text {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -1.44px;
    margin-bottom: 48px;
    max-width: 570px;
}
.contact-us__button {
    border-radius: 12px;
    padding: 16px 40px;
    background-color: #1E1B1B;
    color: #FFF;
    font-style: normal;
    font-weight: 600;
    line-height: 175%;
}
.contact-us__button:hover {
    transform: scale(1.09);
    transition: 0.9s;
}
/* =================================================================== */
.numbers {
    background-color: #F2F2F2;
    height: 210px;
}
.numbers__list {
    display: flex;
    width: 100%;
}
.numbers__list-item {
    margin: 48px 0;
    margin-right: 186px;
}
.numbers__list-item:last-child {
    margin-right: 0;
}
.list-item__number {
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -1.74px;
    color: #661CE7;
    margin-bottom: 2px;
}
.list-item__text {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.72px;
    opacity: 0.69;
}
/* =================================================================== */
.brands {
    background-color: #E2E6E9;
    height: 611px;
}
.brands__title {
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -1.74px;
    text-align: center;
    padding-top: 128px;
    padding-bottom: 32.21px;
}
.brands__list {
    display: flex;
    margin-bottom: 39.81px;
}
.brands__list-item {
    margin-right: 38.6px;
}
.brands__list-item:hover path{
    fill: #a87fef;
    transition: 0.7s;
}
.brands__list-item:last-child {
    margin-right: 0;
}
.brands__list-link {
    display: block;
}
.brands__list-link svg {
    width: 100%;
    height: 100%;
}

/* =================================================================== */
.blog {
}
.blog__items {
    color: #1E1B1B;
    margin-top: 131px;
    font-style: normal;
    padding-bottom: 136px;
}
.blog__title {
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -1.74px;
}
.blog__content {
}
.btn__filter-box {
    display: flex;
    margin-top: 47px;
}
.blog__filter-item {
    margin-right: 30px;
}
.blog__filter-item:last-child {
    margin-right: 0;
}
.content__filter-btn {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.96px;
    background: #ffff;
}
.content__filter-btn:hover {
    color: #f18989;
    transition: .7s;
}
.blog__list {
    margin-top: 46px;
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    gap: 30px;
}
.blog__list-item {
    border: 1px solid #FFF;
}
.blog__list-item:hover {
    transform: scale(1.02);
    transition: 0.9s;
}
.blog__list-link {
}
.blog_img-box {
}
.blog_img-box img{
    width: 100%;
    height: 100%;
}
.blog__link-content {
}
.blog__link-data {
    color: #939191;
    font-weight: 600;
    line-height: 28px;
    margin-top: 24px;
}
.blog__link-heading {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.96px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.blog__link-text {
    color: #232536;
    font-weight: 600;
    line-height: 28px;
}

/* ====================================================================== */

.reviews {
    background-color: #F2F2F2;
}

.reviews__box {
    
}
.reviews__title {
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -1.74px;
    max-width: 910px;
    padding-top: 128px;
    margin-bottom: 76px;
    margin-right: 186px;
    margin-left: 185px;
    text-align: center;
}
.reviews__slider-wrapper {
    padding-bottom: 128px;
    position: relative;
}
.reviews__slider {
    width: 100%;
}
.reviews__slider .slick-list {
    margin-right:-48px;
}
.reviews__slide {
    position: relative;
    margin-right:48px;
    border-radius: 6px;
    border: 1px solid rgba(172, 172, 172, 0.29);
    background: #FFF;
    padding: 0 72px;
    padding-bottom: 72px;
}
.reviews__slide:hover .reviews__socials{
    transform: translateY(0%);
}
.slider__person {
    margin-top: 73px;
    margin-bottom: 24px;
    display: flex;
    
}
.person__img {
}
.user__data {
}
.person__name {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.72px;
    margin-left: 16px;
}
.person__city {
    font-weight: 600;
    line-height: 28px;
    color: #939191;
    margin-bottom: 25px;
    margin-left: 16px;
}
.slider__text {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.72px;
    max-width: 472px;
}
.reviews__socials {
    height: 100%;
    padding: 95px 30px 100px 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 85%;
    right: 0;
    bottom: 0;
    transform: translateY(-160%);
    background: linear-gradient(to left, rgba(187, 187, 187, 0.489), rgba(0, 0, 0, 0));
    transition: all .5s;
}
.reviews-socials svg path{
}
.reviews__socials-link path {
    transition: all .3s;
}
.reviews__socials-link:hover path {
    fill: #1E1B1B;
}
.reviews__socials-item {
    margin-bottom: 25px;
}
.reviews__socials-item:last-child {
    margin-bottom: 0;
}
.reviews__socials-link {
}
.dots-arrows__wrapper{
    margin-top: 40px;
}
.reviews__dots .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reviews__dots .slick-active button::before{
    background-color: #FF6433;
}
.reviews__dots li{
    margin-right: 15px;
}
.reviews__dots li:last-child {
    margin-right: 0;
}
.reviews__dots button{
    font-size: 0;
    background: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
}
.reviews__dots button::before {
    content: "";
    height: 4px;
    width: 100%;
    background-color: #9a9898;
    border-radius: 5px;
}
.reviews__slider-arrows {
    margin-top: -40px;
    position: absolute;
    left: 91%;
}
.reviews__slider-arrows .slick-prev {
}
.reviews__slider-arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: #FFF;
    border-radius: 50%;
}
.reviews__slider-arrow:hover {
    background: #000;
    transform: scale(1.3);
    transition: 0.9s;
}
.reviews__slider-arrow path {
    transition: all .3s;
}
.reviews__slider-arrow:hover path {
    fill: #FFF;
}
.reviews__slider-prev {
}
.reviews__slider-next {
    margin-left: 20px;
}
/* ================================================================================== */

.questions {
    background-color: #E2E6E9;
}
.questions__inner {
    padding-bottom: 128px;
    
}
.questions__title {
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -1.74px;
    text-align: center;
    padding-top: 128px;
    padding-bottom: 86px;
}
.questions__box {
}
.questions__accordeon {
    max-width: 896px;
    margin: 0 auto;
}
.questions__accordeon-item {
    margin-bottom: 12px;
    background-color: #fff;
}
.questions__accordeon-item:last-child {
    margin-bottom: 0;
}
.questions__accordeon-link {
    display: block;
    padding: 40px;
}

.questions__accordeon__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordeon__question {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.72px;
}
.accordeon__square {
    position: relative;
    width: 51px;
    height: 48px;
    background-color: #FF6433;
}
.accordeon__square::before,
.accordeon__square::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    width: 18px;
    height: 2px;
    background-color: #fff;
}
.accordeon__square::after {
    transform: rotate(90deg);
    transition: all 0.3s;
}
.accordeon__text {
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    color: #939191;
    max-width: 702px;
    margin-top: 16px;
}
.questions__accordeon-link--active .accordeon__square::after{
    transform: rotate(0deg);
}
/* ================================================================================== */
/* ================================================================================== */

.info{
    padding-top: 121px;
}
.info__title{
    font-size: 64px;
    font-weight: 800;
    line-height: 84px;
    letter-spacing: -1.92px;
    max-width: 505px;
    padding-bottom: 48px;
}
.info__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.info__contact-form {
    width: 100%;
}
.contact__form {
    display: flex;
    flex-direction: column;
}
.form {
    border-radius: 2px;
    background-color: #F2F2F2;
    max-width: 624px;
    height: 72px;
    padding-left: 40px;
    margin-bottom: 5px;
}
.form__fullname {
}
.form__email {
}
.form__service-type {
}
.form__message {
    margin-bottom: 48px;
}
.info__btn {
    padding: 16px 40px;
    align-items: flex-start;
    border-radius: 12px;
    background: #FF6433;
    color: #ffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    max-width: 206px;
    transition: 0.8s;
}
.info__btn:hover {
    transform: scale(1.03);
    
}

.info__info {
    margin-right: 34px;
    margin-left: 30px;
    height: 298px;
    max-width: 479px;
    width: 100%;
}
.info__contacts {
}
.info__contacts-item {
    margin-bottom: 32px;
}
.info__contacts-item:last-child {
    margin-bottom: 0;
}
.info__contacts-address {
}
.info__item-top {
    font-weight: 600;
    line-height: 28px;
    opacity: 0.69;
    margin-bottom: 2px;
}
.info__item-adress, .info__item-hours {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.72px;
}
.info__contacts-tel-mail {
}
.info__item-link {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.72px;
}
.info__item-link:hover {
    color: #f18989;
    transition: .4s;
}
.info__contacts-hours {
}

/* ================================================================================== */
/* ================================================================================== */
.map-img {
    margin-top: 194px;
}
.container {
    position: relative;
}
.map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 512px;
}
[class*="ground-pane"] {
    filter: grayscale(1);
}
.map__bg-image {
    position: relative;
}
.bg-image {
    width: 100%;
    height: 448px;
    margin-top: 350px;
}
/* ================================================================================== */
/* ================================================================================== */
.footer {
    color: #fff;
}
.footer__top {
    background-color: #232020;
    padding-top: 128px;
    padding-bottom: 129px;
}
.footer__top-inner {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}
.top__box {
}
.footer__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -1.44px;
    max-width: 463px;
    margin-bottom: 64px;
    text-align: start;
}
.socials__wrapper {
}
.footer__socials {
    display: flex;
    
}
.footer__socials-item {
    margin-right: 23px;
}
.footer__socials-item:last-child {
    margin-right: 0;
}
.footer__socials-link {
    width: 100%;
}
.footer__socials-link path {
    transition: all .3s;
}
.footer__socials-link:hover path {
    fill: #939191;
}
.top__info {
    height: 292px;
}
.footer__bottom {
    background-color: #1E1B1B;
}
.footer__bottom-inner {
    display: flex;
    justify-content: space-between;
    padding: 65px 0;
}
.footer__bottom-logo {
}
.footer__nav {
}
.footer__nav-list {
    display: flex;
    
}
.footer__nav-item {
    margin-right: 40px;
}
.footer__nav-item:last-child {
    margin-right: 0;
}
.footer__nav-link {
    transition: all .3s;
}
.footer__nav-link:hover {
    color: #939191;
}
.footer__nav-link {
}
.footer__bottom-name {
    color: #939191;
    font-weight: 600;
    line-height: 28px;
}
/* ================================================================================== */
/* ================================================================================== */
@media (max-width: 1300px) {
    .burger {
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 101;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .burger--follow {
        box-shadow: 0 3px 4px #bec1c4;
        background-color: #F2F2F2;
    }
    .burger span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #1E1B1B;
        border-radius: 4px;
        margin: 4px 0;
    }
    .burger::before,
    .burger::after {
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        background-color: #1E1B1B;
        border-radius: 4px;
    }
    .header {
        padding-top: 89.5px;
    }
    .header__line {
        display: none;
    }
    .header__top {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #F2F2F2;
        z-index: 100;
        min-width: 350px;
        transform: translateX(-100%);
        transition: all .3s;
    }
    .header__top--open {
        transform: translateX(0%);
    }
    .header__top-box {
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding: 100px 0;

    }
    .header__logo {
        margin: 0 0 30px 0;
    }
    .header__nav {
        margin: 0 auto;
        text-align: center;
    }
    .header__nav-item {
        margin: 0;
    }
    .header__nav-item:last-child {
        margin: 0;
    }
    .header__nav-link {
        padding: 30px;
        display: block;
    }
    .header__nav-list {
        flex-direction: column;
    }
}
@media (max-width: 400px) {
    .header__top {
        min-width: none;
        right: 0;
    }
    .header__nav-link {
        padding: 10px;
    }
}